<!-- Home Partial -->
<div style="margin-left:5%">

  <h2>Recipe Management v.1</h2>

  <div login></div>

  <div createUser></div>

  <table ng-show="users.length" cellspacing="5">
    <tr align="left">
      <th>ID</th>
      <th>Username</th>
    </tr>
    <tr ng-repeat="user in users">
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
    </tr>
  </table>

  <br>
    <table ng-show="recipes.length" cellspacing="5">
    <tr align="left">
      <th>Recipe</th>
    </tr>
    <tr ng-repeat="recipe in recipes">
      <td>{{recipe.name}}</td>
    </tr>
  </table>

  <table ng-show="addresses.length" cellspacing="5">
    <tr align="left">
      <th>Street</th>
      <th>City</th>
      <th>State</th>
    </tr>
    <tr ng-repeat="address in addresses">
      <td>{{address.street}}</td>
      <td>{{address.city}}</td>
      <td>{{address.state}}</td>
    </tr>
  </table>

</div>