<!-- Home Partial -->


<div style="margin-left:5%">

  <h2>Recipe Management v.1</h2>

<div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>Hello, world!</h1>
            <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
          </div>
          <div class="row">
            <div ng-repeat="recipe in recipes" class="col-6 col-sm-6 col-lg-4">
                <!-- TODO: set CSS max-height and min-height.
                           Hopefully this will prevent wieird gaps. -->

                <h2><a href="#/recipes/{{ recipe.recipe_id }}">{{ recipe.recipe_name }}</a></h2>
                <p>{{ recipe.recipe_description }}</p>
                <!-- <p><a class="btn btn-default" href="#/recipes/{{ recipe.recipe_id }}" role="button">View details &raquo;</a></p> -->
            </div><!--/span-->

          </div><!--/row-->
        </div><!--/span-->

          <!--
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="list-group">
            <a href="#" class="list-group-item active">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
          </div>
        </div><!--/span--/> -->


      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

    </div><!--/.container-->

<!--  <div login></div> -->

<!--  <div createUser></div> -->

<!--  <table ng-show="users.length" cellspacing="5">
    <tr align="left">
      <th>ID</th>
      <th>Username</th>
    </tr>
    <tr ng-repeat="user in users">
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
    </tr>
  </table>
  -->

  <br>
    <table ng-show="recipes.length" cellspacing="5">
    <tr align="left">
      <th>Recipe</th>
    </tr>
    <tr ng-repeat="recipe in recipes">
      <td>{{recipe.recipe_name}}</td>
    </tr>
  </table>

  <table ng-show="addresses.length" cellspacing="5">
    <tr align="left">
      <th>Street</th>
      <th>City</th>
      <th>State</th>
    </tr>
    <tr ng-repeat="address in addresses">
      <td>{{address.street}}</td>
      <td>{{address.city}}</td>
      <td>{{address.state}}</td>
    </tr>
  </table>

</div>