/*
 * Style tweaks
 * --------------------------------------------------
 */

body {
  padding-top: 40px; /* Reducing the size of the gap on top */
  /*padding-left: 20px;*/
}

.jumbotron {
	padding-top: 10px;
	/*padding-left: 0px;*/
}


/* Editible form CSS from Angular-xeditable Editable Form
    http://jsfiddle.net/NfPcH/81/
    http://vitalets.github.io/angular-xeditable/#editable-form */
div[ng-app] { margin: 10px; }
form[name="editableForm"] > div {
  height: auto;
  padding: 5px 0;
}

form[name="editableForm"] .title {
  display: inline-block;
  font-weight: bold;
  padding-top: 5px;
  vertical-align: top;
  min-width: 90px;
}

form[name="editableForm"] .editable {
  display: inline-block;
  padding-top: 5px;
  vertical-align: top;
}

form[name="editableForm"] select {
  width: 120px;
}

/* END CSS from Angular-xeditable Editable Form */